body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
* {
    box-sizing: border-box;
    /* debug */
    /* border: 1px solid red ; */
}